/*additional col*/
.col-xs-15 {
    width: 20%;
    float: left;
}
.checkbox1{
  display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;

}
.checkbox label, .radio label{
  margin-bottom: -15px;
}
@media(min-width:400px){
  .checkbox2{
    width:65%;


  }
}
@media(min-width:768px){
.distributor-sales{
  padding-left: 39px;
}
}
@media(min-width:1200px){
.distributor-sales{
  padding-left: 50px;
}
}


@media(max-width:400px){
  .checkbox2{
    width:61%;

  }
}
@media(max-width:350px){
  .checkbox2{
    width:54%;

  }
}
/*collapse sidebar*/
@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
body{
 background: #fff;
    padding-top: 50px;
}
.navbar-fixed-top {
  border: 0;
}
.navbar-default{
      background-color:  #2d4668;
}
/*navbar buttons*/
.navbar-default .navbar-brand {
  color:#fff;
}
.navbar-default .navbar-nav>li>a {
  color:#fff;
}
.navbar-default .navbar-nav>li>a:focus {
  color:#fff;
}
.navbar-default .navbar-toggle .icon-bar{
  color:#fff;
  background-color:#fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: rgba(1,1,1,0.0);
}

 .navbar-default .navbar-toggle:hover{
  color:#fff;
}
#sidebar-wrapper {
  top: 52px;
  left: -200px;
  width: 300px;
  background-color: #e6e6e6;;
  position: fixed;
  height: 100%;
  z-index: 10;
  margin-top: -2px;
   overflow-y: auto;

}
.col-lg-3>#sidebar-wrapper>.nav{
  overflow-y: auto;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 1100px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}
a{
  color:black;
}
a:hover{
  color:#fff;
}
.active-sidebar{
      background-color: #2d4668;
}
.active-sidebar>a{
  color:#fff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #2d4668;
}
.profile-usermenu ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
    width: 112px;
    height: 112px;
  border-radius: 50%;
  margin-top:20px;
  border: 4px solid white;
}
.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #00385A;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #00385A;;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
/*table*/
.thead{
  background:#2d4668;
      color: white;
}

/*genealogy*/
.genealogy{
  width:50px;
  height: 50px;
}
/*pagination*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #2d4668;
  border-color: #2d4668;
}
.pagination>li>a, .pagination>li>span{
  color:black;
}
.search{
  float: right;
  display: block;
}
.btn-primary{
  color: #fff;
background-color: #2d4668;
border-color: #2d4668;

}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*Modal*/
.modal-title{
  color:#000;
}
/*edit profile*/
.control-label{
   text-align: right;
}
.form-group{
  padding-top: 10px;
}
.edit-btn{
  margin-top: 20px;
}
.form-title-row{
  padding-bottom: 20px;
}
.form-control{
  margin-bottom: 10px;
}
.edit-image{
  float: none;
  margin: 0 auto;
    width: 150px;
    height: 150px;
  border-radius: 50%;
  border: 4px solid white;
}
.upload{
  border: 1px solid #e6e6e6;
  padding: 5px;
  width:220px;
}
@media (max-width: 800px) {
  .alert-small{
    margin-top:20px;

  }
}

.search-small{
float:right;
}
@media(max-width:750px){
  .search-small{
    float: none;
    padding-top: 10px;
    padding-bottom: -10px;
  }
  .dropdown{
    text-align: center;
  }
  .submit-center{
    text-align: center;
  }
}
@media(max-width:360px){
  .s5-360{
    width:44%;
    text-align: center;
  }
}
@media(max-width:320px){
  .s5-360{
    width: 50%;
    text-align: center;
    margin-bottom: 3px;
  }
}
.table-responsive{
  overflow-y:auto;
  width:100%;
    margin-top: 20px;
}
@media (min-width: 1200px){
  .upload-clerk{
    margin-left: -70px;
    margin-top: 80px;
  }
}
.ui-autocomplete { max-height: 200px; overflow-y: auto;overflow-x: hidden; }

.price{
  border: 2px solid #2d4668;
  overflow-y: auto;
}
.value{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
