/*additional col*/
.col-xs-15 {
    width: 20%;
    float: left;
    padding-left: 5px;
}
.col-xs-15>img{
  height:120px;
  width: 60%;
}
.genealogy-main>img{
  height:150px;
  width:13%
}
.vertical_line{
  height:100px;
  width:3px;
  background:#444;
}


.hr-genealogy{
  margin-top: 0px;
margin-bottom: 20px;
border: 0;
border-top: 3px solid #444;
width: 80%;
}


.col-xs-15>i{
  font-size:40px;
  margin-top:-5px;
  color:#444;
}
@media(max-width:800px){
  .col-xs-15>img{
    height:120px;
      width:100%
  }
  .genealogy-main>img{
    height:150px;
    width:20%
  }
  .vertical_line{
    height:60px;
  }
  .col-xs-15>i{
    font-size:20px;
    margin-top:-5px;
    color:#444;
  }
}
@media(max-width:500px){
  .col-xs-15>img{
    height:60px;
  }
  .genealogy-main>img{
    height:80px;
  }
  .vertical_line{
    height:40px;
  }
  .col-xs-15>i{
    font-size:20px;
    margin-top:-5px;
    color:#444;
  }
}

.checkbox1{
  display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #FBFAEF;
background-image: none;

}
.checkbox label, .radio label{
  margin-bottom: -15px;
}
@media(min-width:400px){
  .checkbox2{
    width:65%;


  }
}
@media(min-width:768px){
.distributor-sales{
  padding-left: 39px;
}
}
@media(min-width:1200px){
.distributor-sales{
  padding-left: 50px;
}
}


@media(max-width:400px){
  .checkbox2{
    width:61%;

  }
}
@media(max-width:350px){
  .checkbox2{
    width:54%;

  }
}
/*collapse sidebar*/
@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
body{
 background: #fff;
    padding-top: 50px;
}
.navbar-fixed-top {
  border: 0;
}
.navbar-default{
      background-color:  #002F4C;
}
/*navbar buttons*/
.navbar-default .navbar-brand {
  color:#FBFAEF;
}
.navbar-default .navbar-nav>li>a {
  color:#FBFAEF;
}
.navbar-default .navbar-nav>li>a:focus {
  color:#FBFAEF;
}
.navbar-default .navbar-toggle .icon-bar{
  color:#FBFAEF;
  background-color:#FBFAEF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: rgba(1,1,1,0.0);
}

 .navbar-default .navbar-toggle:hover{
  color:#FBFAEF;
}
#sidebar-wrapper {
  top: 52px;
  left: -200px;
  width: 300px;
  background-color: #e6e6e6;;
  position: fixed;
  height: 100%;
  z-index: 10;
  margin-top: -2px;
   overflow-y: auto;

}
.col-lg-3>#sidebar-wrapper>.nav{
  overflow-y: auto;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: #FBFAEF;
  display: block;
  text-decoration: none;
}
.priviliges{
  margin-top: 50px;
}
@media(max-width:1400px){
  .priviliges{
    margin-top: 30px;
  }
}
@media(max-width:1199px){
  .priviliges{
    margin-top: 0px;
  }
}

#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 1100px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}
a{
  color:#333;
}
a:hover{
  color:#FBFAEF;
}
.active-sidebar{
      background-color: #002F4C;
}
.active-sidebar>a{
  color:#FBFAEF;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #002F4C;
}
.profile-usermenu ul li a {
  color: #FBFAEF;
  font-size: 14px;
  font-weight: 400;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
    width: 112px;
    height: 112px;
  border-radius: 50%;
  margin-top:20px;
  border: 4px solid white;
}
.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #00385A;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #00385A;;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
/*table*/
.thead{
  background:#002F4C;
      color: white;
}

/*genealogy*/
.genealogy{
  width:50px;
  height: 50px;
}
/*pagination*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #002F4C;
  border-color: #002F4C;
}
.pagination>li>a, .pagination>li>span{
  color:#333;
}
.search{
  float: right;
  display: block;
}
.btn-primary{
  color: #FBFAEF;
background-color: #002F4C;
border-color: #002F4C;

}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #FBFAEF;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*Modal*/
.modal-title{
  color:#000;
}
.alert-modal {
  text-align: center;
  padding: 0!important;
  padding: 5px;
}

.alert-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.alert-modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*edit profile*/
.control-label{
   text-align: right;
}
.form-group{
  padding-top: 10px;
}
.edit-btn{
  margin-top: 20px;
}
.form-title-row{
  padding-bottom: 20px;
}
.form-control{
  margin-bottom: 10px;
}
.edit-image{
  float: none;
  margin: 0 auto;
    width: 150px;
    height: 150px;
  border-radius: 50%;
  border: 4px solid white;
}
.upload{
  border: 1px solid #e6e6e6;
  padding: 5px;
  width:220px;
}
@media (max-width: 800px) {
  .alert-small{
    margin-top:20px;

  }
}

.search-small{
float:right;
}
@media(max-width:750px){
  .search-small{
    float: none;
    padding-top: 10px;
    padding-bottom: -10px;
  }
  .dropdown{
    text-align: center;
  }
  .submit-center{
    text-align: center;
  }
}
@media(max-width:360px){
  .s5-360{
    width:44%;
    text-align: center;
  }
}
@media(max-width:320px){
  .s5-360{
    width: 50%;
    text-align: center;
    margin-bottom: 3px;
  }
}
.table-responsive{
  overflow-y:auto;
  width:100%;
    margin-top: 20px;
}
@media (min-width: 1200px){
  .upload-clerk{
    margin-left: -70px;
    margin-top: 80px;
  }
}
.ui-autocomplete { max-height: 200px; overflow-y: auto;overflow-x: hidden; }

.price{
  border: 2px solid #002F4C;
  overflow-y: auto;
}
.value{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #FBFAEF;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.checkout-wrap {
    font-family:'PT Sans Caption', sans-serif;
    margin: 30px auto 100px;
    z-index: 0;
}
ul.checkout-bar li {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 50px auto;
    padding: 0;
    text-align: center;
    width: 24.5%;
}
ul.checkout-bar li:before {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: #ddd;
    border: 2px solid #FBFAEF;
    border-radius: 50%;
    color: #FBFAEF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    height: 34px;
    left: 40%;
    line-height: 34px;
    position: absolute;
    top: -60px;
    width: 34px;
    z-index: 99999;
}
ul.checkout-bar li.active {
    color: #A6447A;
    font-weight: bold;
}
ul.checkout-bar li.active:before {
    background: #A6447A;
}
ul.checkout-bar li.visited {
    color: #036c99;
    z-index: 99999;
    background: none;
}
ul.checkout-bar li.visited:before {
    background: #036c99;
    z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
    content:"1";
}
ul.checkout-bar li:nth-child(2):before {
    content:"2";
}
ul.checkout-bar li:nth-child(3):before {
    content:"3";
}
ul.checkout-bar a {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
ul.checkout-bar li.active a {
    color: #A6447A;
}
ul.checkout-bar li.visited a {
    color: #036c99;
}
.checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #A6447A;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content:"";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
}
ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 -15px 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #036c99;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content:" ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 24%;
}
ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #036c99;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content:"";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
}

@media (max-width: 480px) {
  ul.checkout-bar li:before {
    top: -80px;;
  }

}
@media (min-width:400px) {
  .checkout-bar li.active:after {
    top: -72px;

}

}

@media (min-width:480px) {
  .checkout-bar li.active:after {
    top: -50px;
}
}
@media (max-width: 390px) {
  ul.checkout-bar li:before {
    top: -60px;;
  }
}
ul.checkout-bar li:nth-child(2):before {
    top: -60px;
}
.builder-header{
  text-align: center;
  margin-top: 60px;
  padding: 10px;
  border: 1px solid black;
  padding-right: 1px;
  background-color: #4CAF50;
  font-weight: bold;
  font-size: 18px;
}
.associate-header{
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid black;
  background-color: #81D4FA;
  font-weight: bold;
  font-size: 18px;
}
.manager-header{
  text-align: center;
  margin-top: 20px;
  padding: 30px;
  border: 1px solid black;
  background-color: #F8BBD0;
  font-weight: bold;
  font-size: 18px;
}
.director-header{
  text-align: center;
  padding: 40px;
  border: 1px solid black;
  font-weight: bold;
  background-color: #E3F2FD;
  font-size: 18px;
}
.builder-content{
  border: 1px solid black;
  height: 620px;

}
.channel-help>p{
  padding-left: 15px;
}

.channel-help>h4{
  padding-left: 15px;
  font-weight: bold;
}
.channel-help>center>b{

  font-weight: bold;
}
@media (max-width:789px) {
  .builder-header{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    padding-right: 1px;
  }
  .associate-header{
    text-align: center;
    margin-top: 0px;
    padding: 20px;
    border: 1px solid black;
  }
  .director-header{
    margin-top: 20px;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
  }
  .manager-header{
    text-align: center;
    margin-top: 40px;
    padding: 30px;
    border: 1px solid black;
  }
}
@media (max-width:767px) {
  .builder-header{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    padding-right: 1px;
  }
  .associate-header{
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid black;
  }
  .director-header{
    margin-top: 10px;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
  }
  .manager-header{
    text-align: center;
    margin-top: 10px;
    padding: 30px;
    border: 1px solid black;
  }
}
